@import "https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap";
@import "https://fonts.googleapis.com/css2?family=Inter&display=swap";
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Semibold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Extrabold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
*, ::before, ::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

*[hidden] {
  display: none;
}

body {
  counter-reset: my-sec-counter;
  line-height: 1;
}

menu, ol, ul, li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background: #F5F3EA;
}
.header__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 58px 0px 78px 0px;
  margin-inline: 70px;
}
.header__link {
  color: #252525;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.svg-logo {
  width: 100%;
  height: auto;
  max-width: 91px;
  max-height: 35px;
}

.text-logo {
  color: #000;
  font-family: Gilroy-Medium;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.7px;
  margin-left: 10px;
}

.sub__text-logo {
  color: #000;
  text-align: center;
  font-family: Gilroy;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.7px;
}

.digital-design {
  background: #F5F3EA;
}

.block__title-design {
  margin: 0px 70px 40px 70px;
}

.title-design {
  text-align: center;
  color: #252525;
  font-family: Gilroy-SemiBold;
  font-size: 7.8vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.subtitle-desig {
  text-align: center;
  color: #252525;
  font-family: Gilroy;
  font-size: 7.8vw;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.arrow {
  text-align: center;
}

.main-img {
  width: 100%;
  height: auto;
}

.img__information {
  display: none;
}
.img__information-two {
  display: block;
  width: 100%;
}

.information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #252525;
}

.text__design {
  color: #252525;
  font-family: Gilroy, sans-serif;
  font-size: 62px;
  font-weight: 300;
  line-height: normal;
  margin: 70px;
  flex: 1 1 auto;
}

.link__design {
  display: flex;
  padding: 60px 70px 60px 155px;
  flex-direction: column;
  gap: 30px;
  background: #252525;
  flex: 1 1 auto;
  align-items: flex-end;
}

.text__link {
  color: #FFF;
  text-align: right;
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
}

.block__link {
  display: flex;
  gap: 20px;
  max-width: 100%;
  margin-left: 90px;
}

.brands {
  background: #F5F3EA;
}

.block__brands {
  border-bottom: 1px solid #252525;
}

.first__brands {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-inline: 70px;
  padding-block: 70px;
  flex-wrap: wrap;
}

.logoispum {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  border-radius: 50px;
  background: #FFF;
}

.svg__logoispum {
  max-width: 100%;
  height: auto;
}

.what {
  background: #F5F3EA;
}

.main__what {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #252525;
}

.image-squares {
  background-image: url("/images/Image.jpeg");
  width: 1210px;
}

.what-story {
  display: flex;
  flex-direction: column;
  padding: 70px 0px 30px 0px;
  width: 50%;
  margin: 0px 70px 0px 111px;
}

.what__title {
  margin-bottom: 100px;
  text-align: center;
  color: #252525;
  font-family: Gilroy;
  font-size: 150px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.subblock__design {
  border-bottom: 1px solid #252525;
}

.design__title {
  color: #000;
  font-family: Gilroy-SemiBold;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
}
.design__title::before {
  content: "0" counter(my-sec-counter) " ";
  counter-increment: my-sec-counter;
  color: #000;
  font-family: Gilroy-Light;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
}

.subtitle {
  margin: 10px 0px 40px 0px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.subblock__direction {
  border-bottom: 1px solid #252525;
}

.direction__title {
  margin-top: 40px;
  color: #000;
  font-family: Gilroy-SemiBold;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
}
.direction__title::before {
  content: "0" counter(my-sec-counter) " ";
  counter-increment: my-sec-counter;
  color: #000;
  font-family: Gilroy-Light;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
}

.subblock__interaction {
  border-bottom: 1px solid #252525;
}

.interaction__title {
  margin-top: 40px;
  color: #000;
  font-family: Gilroy-SemiBold;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
}
.interaction__title::before {
  content: "0" counter(my-sec-counter) " ";
  counter-increment: my-sec-counter;
  color: #000;
  font-family: Gilroy-Light;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
}

.motion__title {
  margin-top: 40px;
  color: #000;
  font-family: Gilroy-SemiBold;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
}
.motion__title::before {
  content: "0" counter(my-sec-counter) " ";
  counter-increment: my-sec-counter;
  color: #000;
  font-family: Gilroy-Light;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
}

.work {
  background: #F5F3EA;
  border-bottom: 1px solid #252525;
}

.main__work {
  display: flex;
  flex-direction: column;
  margin-inline: 70px;
}

.title__work {
  text-align: center;
  margin-top: 70px;
  flex: 1 0 0;
  color: #252525;
  font-family: Gilroy;
  font-size: 200px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 8.48px;
  text-transform: uppercase;
}

.block__work-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 70px;
  margin-bottom: 70px;
  flex-direction: column;
}

.first-pair {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.two__pair {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  width: 567px;
  display: flex;
  flex-direction: column;
}

.card__img {
  width: 100%;
  height: 100%;
}

.card__photo {
  max-width: 567px;
  max-height: 567px;
}

.card__subtitle {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  text-transform: uppercase;
}

.block__task {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.tack {
  display: flex;
  padding: 15px 30px;
  align-items: center;
  border-radius: 50px;
  background: #FFF;
  color: #252525;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.block__task-continuation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: auto;
}

.tack__continuation {
  display: flex;
  padding: 10px 30px;
  border-radius: 50px;
  background: #252525;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.link__continuation {
  color: #FFF;
  display: flex;
  align-items: center;
  gap: 10px;
}

.block__all-work {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.tack__work {
  display: flex;
  padding: 15px 60px;
  align-items: center;
  border-radius: 50px;
  background: #FFF;
  color: #252525;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.clients {
  background: #F5F3EA;
  border-bottom: 1px solid #252525;
}

.main-block__clients {
  margin-inline: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title__clients {
  margin-top: 50px;
  text-align: center;
  color: #252525;
  font-family: Gilroy;
  font-size: 212px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 8.48px;
  text-transform: uppercase;
}

.block-card__clients {
  margin: 50px 0px 130px 0px;
  position: relative;
}

.first-pair__clients {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #252525;
  flex-wrap: nowrap;
}

.two-pair__clients {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.card__clients {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  max-width: 567px;
  height: auto;
  justify-content: space-between;
}

.title__card {
  color: #333;
  font-family: Gilroy;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 44px;
}

.subtitle__card {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.person {
  display: flex;
  gap: 20px;
}

.block-image__person {
  max-width: 70px;
  max-height: 70px;
}

.image__person {
  display: flex;
  width: 100%;
  height: auto;
  align-items: flex-start;
  border-radius: 50px;
}

.text__person {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block: 10px;
}

.title__person {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.subtitle__person {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.team {
  background: #F5F3EA;
  border-bottom: 1px solid #252525;
}

.main-block__team {
  display: flex;
  flex-direction: column;
  margin-inline: 70px;
}

.main__title-team {
  margin-top: 50px;
  text-align: center;
  color: #252525;
  font-family: Gilroy;
  font-size: 212px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 8.48px;
  text-transform: uppercase;
}

.block__team {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 30px;
  margin-block: 50px;
  justify-content: center;
}

.team__card {
  padding: 30px 0px;
}

.name {
  color: #333;
  font-family: Gilroy;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.specialty {
  margin-top: 5px;
  color: #333;
  font-family: Gilroy-Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.block__photo {
  margin-top: 15px;
  max-width: 415px;
}

.photo {
  width: 100%;
  height: auto;
}

.link__team {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  column-gap: 15px;
}

.branding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 870px;
  padding: 30px 0px;
  row-gap: 15px;
}

.title__branding {
  color: #333;
  font-family: Gilroy-Regular;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.desire {
  color: #333;
  font-family: Gilroy-Bold;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

#branding-link {
  width: fit-content;
}

.block__branding-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact {
  background: #F5F3EA;
  border-bottom: 1px solid #252525;
}

.block__contact {
  display: flex;
  margin-inline: 70px;
  padding-block: 100px;
  gap: 40px;
  max-width: 100%;
}

.main__title-contact {
  width: 50%;
  color: #333;
  font-family: Gilroy;
  font-size: 8vw;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.story {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}

.title__story {
  color: #252525;
  font-family: Gilroy-Bold;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.subtitle__story {
  color: #252525;
  font-family: Gilroy-Medium;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  background: #F5F3EA;
}

.block__footer {
  display: flex;
  padding-block: 25px;
  margin-inline: 70px;
  justify-content: space-between;
}

.text__footer {
  color: #333;
  font-family: Gilroy-Regular;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link__footer {
  display: flex;
  gap: 10px;
}

@media (max-width: 1200px) {
  .header__block {
    margin-inline: 31px;
  }
  .block__title-design {
    margin: 0px 70px 40px 70px;
  }
  .title-design {
    font-size: 10vw;
  }
  .subtitle-desig {
    font-size: 10vw;
  }
  .img__information {
    display: block;
    width: 100%;
  }
  .img__information-two {
    display: none;
  }
  .information {
    flex-direction: column;
    align-items: center;
  }
  .text__design {
    margin: 0;
    text-align: center;
    font-size: 48px;
    margin: 30px;
  }
  .link__design {
    padding: 40px 30px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .text__link {
    text-align: center;
    font-size: 28px;
  }
  .block__link {
    padding-left: 0;
  }
  .first__brands {
    margin-inline: 30px;
    padding-block: 40px;
    gap: 20px;
  }
  .main__what {
    flex-wrap: wrap;
  }
  .image-squares {
    width: 100%;
    height: 991px;
  }
  .what-story {
    width: 100%;
    margin: 0px 30px 0px 30px;
    padding: 70px 0px 0px 0px;
  }
  .what__title {
    font-size: 12.5vw;
  }
  .main__work {
    margin-inline: 30px;
  }
  .title__work {
    font-size: 150px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  #card__one {
    order: 3;
    width: 100%;
    height: auto;
  }
  #card__two {
    order: 3;
    width: 100%;
    height: auto;
  }
  .card {
    max-width: 931px;
  }
  .card__photo {
    max-width: 931px;
    max-height: 931px;
  }
  .block__all-work {
    margin-bottom: 30px;
  }
  .main-block__clients {
    margin-inline: 30px;
  }
  .main-title__clients {
    font-size: 150px;
    margin-top: 30px;
  }
  .block-card__clients {
    margin: 30px 0px 0px 0px;
  }
  .block-card__clients::before {
    display: none;
  }
  .block-card__clients::after {
    display: none;
  }
  .first-pair__clients {
    flex-direction: column;
    flex-wrap: wrap;
    border: none;
  }
  .two-pair__clients {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .two-pair__clients .card__clients:last-child {
    border: none;
  }
  .card__clients {
    padding: 40px 0px 40px 0px;
    border-bottom: 1px solid #252525;
  }
  .main-block__team {
    margin-inline: 30px;
  }
  .main__title-team {
    font-size: 150px;
    margin-top: 30px;
  }
  .block__team {
    margin: 30px 0px 50px 0px;
  }
  .block__photo {
    max-width: 446px;
  }
  .block__contact {
    flex-direction: column;
    margin-inline: 30px;
    padding: 30px 0px 50px 0px;
  }
  .main__title-contact {
    font-size: 150px;
    width: 100%;
    text-align: center;
  }
  .story {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .block__footer {
    padding-block: 45px;
    margin-inline: 30px;
  }
}
@media (max-width: 992px) {
  .title__work {
    font-size: 15vw;
  }
}
@media (max-width: 768px) {
  .header__block {
    margin-inline: 20px;
    padding: 20px 0px 30px 0px;
  }
  .text-logo {
    display: none;
  }
  .block__title-design {
    margin: 0px 20px 20px 20px;
  }
  .title-design {
    font-size: 10vw;
  }
  .subtitle-desig {
    font-size: 10vw;
  }
  .text__design {
    font-size: 6vw;
    margin: 30px 20px;
  }
  .svg__link {
    width: 100%;
    height: 100%;
  }
  .first__brands {
    padding-block: 30px;
    margin-inline: 20px;
  }
  .image-squares {
    height: 478px;
  }
  .what-story {
    margin: 0px 20px 0px 20px;
  }
  .what__title {
    font-size: 10.4vw;
  }
  .subtitle {
    margin: 10px 0px 30px 0px;
    font-size: 3.6vw;
  }
  .subtitle:last-child {
    margin-bottom: 20px;
  }
  .direction__title {
    margin-top: 30px;
  }
  .interaction__title {
    margin-top: 30px;
  }
  .motion__title {
    margin-top: 30px;
  }
  .title__work {
    font-size: 10vw;
  }
  .block__work-card {
    row-gap: 40px;
    margin-bottom: 40px;
  }
  .tack {
    margin-bottom: 30px;
  }
  .block__all-work {
    display: block;
  }
  .tack__work {
    display: block;
    text-align: center;
  }
  .main-title__clients {
    font-size: 11vw;
  }
  .block-card__clients {
    margin-inline: 20px;
  }
  .main-block__team {
    margin-inline: 20px;
  }
  .main__title-team {
    font-size: 10.5vw;
  }
  .team__card {
    text-align: center;
    padding: 20px 0px;
  }
  .team__card:nth-child(2n) {
    margin-bottom: 30px;
  }
  .link__team {
    justify-content: center;
  }
  .branding {
    align-items: center;
  }
  .title__branding {
    font-size: 5vw;
  }
  .desire {
    font-size: 6vw;
    text-align: center;
  }
  #branding-link {
    width: 100%;
    justify-content: center;
  }
  .block__contact {
    margin-inline: 20px;
  }
  .main__title-contact {
    font-size: 80px;
  }
  .title__story {
    font-size: 50px;
  }
  .subtitle__story {
    font-size: 30px;
  }
  .block__footer {
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-inline: 20px;
    padding-block: 20px;
  }
}
@media (max-width: 490px) {
  .main__title-contact {
    font-size: 16vw;
  }
  .title__story {
    font-size: 10vw;
  }
  .subtitle__story {
    font-size: 6vw;
  }
}
@media (max-width: 465px) {
  .design__title {
    font-size: 7.5vw;
  }
  .design__title::before {
    font-size: 7.5vw;
  }
  .direction__title {
    font-size: 7.5vw;
  }
  .direction__title::before {
    font-size: 7.5vw;
  }
  .interaction__title {
    font-size: 7.5vw;
  }
  .interaction__title::before {
    font-size: 7.5vw;
  }
  .motion__title {
    font-size: 7.5vw;
  }
  .motion__title::before {
    font-size: 7.5vw;
  }
}
@media (max-width: 400px) {
  .text__link {
    font-size: 7vw;
  }
  .card__subtitle {
    font-size: 10vw;
  }
  .tack {
    font-size: 4.5vw;
  }
  .tack__continuation {
    font-size: 4.5vw;
  }
  .tack__work {
    font-size: 4.5vw;
  }
  .text__footer {
    text-align: center;
    font-size: 4.5vw;
  }
}
@media (max-width: 320px) {
  .header__link {
    font-size: 7.8vw;
  }
}
@media (min-width: 1200px) {
  .card {
    max-width: 931px;
  }
  .two-pair__clients .card__clients:nth-child(1) {
    margin-right: 60px;
  }
  .block-card__clients::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #252525;
    left: 33.33%;
  }
  .block-card__clients::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #252525;
    right: 33.33%;
  }
}

/*# sourceMappingURL=style.css.map */
