$breakpoint_xxl: 1200px;
$breakpoint_xl: 992px;
$breakpoint_md: 768px;
$breakpoint_sm: 490px;
$breakpoint_sd: 465px;
$breakpoint_xs: 400px;
$breakpoint_xxs: 320px;

$color_1: #000;
$color_2: #252525;
$color_3: #FFF;
$color_4: #333;
$font-family_1: Gilroy-Medium;
$font-family_2: Gilroy;
$font-family_3: Gilroy-SemiBold;
$font-family_4: Gilroy, sans-serif;
$font-family_5: 'Gilroy-Medium', sans-serif;
$font-family_6: Gilroy-Light;
$font-family_7: Inter;
$font-family_8: Gilroy-Bold;
$font-family_9: Gilroy-Regular;